* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 24px;
  padding: 20px;
  width: 100vw;
}

.gameboard {
  position: relative;
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 100px auto;
  max-height: 60vh;
  max-width: 60vh;
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.celeste {
  background: #22a6b3;
}

.celeste.light {
  background: #7ed6df;
}

.violeta {
  background: #be2edd;
}

.violeta.light {
  background: #e056fd;
}

.naranja {
  background: #f0932b;
}

.naranja.light {
  background: #ffbe76;
}

.verde {
  background: #6ab04c;
}

.verde.light {
  background: #badc58;
}

.btn-start {
  width: 400px;
  height: 100px;
  background: #ecf0f1;
  color: #2c3e50;
  font-size: 2.5rem;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 200px);
}

.hide {
  display: none;
}

@media screen and (max-width: 600px) {
  .header {
    width: unset;
  }
  .gameboard {
    max-height: 50vh;
    max-width: 50vh;
    position: unset;
  }

  .btn-start {
    height: 50px;
    top: unset;
    width: 300px;
    border: black 2px solid;
    margin: 400px auto;
    font-size: 16px;
    left: calc(50% - 150px);
  }
}
@media screen and (max-width: 390px) {
  .gameboard {
    max-height: 40vh;
    max-width: 40vh;
  }

  .btn-start {
    margin: 350px auto;
  }
}
